<h2>Dashboard</h2>

<table border="1">
    <tr>
        <th>Document id</th>
        <th>Title</th>
        <th>Uploader</th>
        <th>Last Modified</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Mount Olimp</td>
        <td>Octavian</td>
        <td>Mon 18.08.2018</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Gathering an army</td>
        <td>Octavian</td>
        <td>Mon 19.08.2018</td>
    </tr>
</table>

<br>

<a ui-sref="home" ui-sref-active="active">Home</a>